
.form-content
{
    margin-top: 20px;
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1rem;
}
/* .btnSubmit
{
    border:none;
    border-radius:1rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
} */