<div class="container">
	<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>  
		<div class="col-md-2" style="margin-top: 100px;">
            <h5>Password Reset</h5> 
            <br>
            <label>User</label>
		    <div class="form-group pass_show"> 
                <input type="text" id="currentpasswordUser" value="" [(ngModel)]="user.user" class="form-control" placeholder="Username"> 
            </div> 
            <br>
             <label>Current Password</label>
		    <div class="form-group pass_show"> 
                <input type="password" id="currentpassword" value="" [(ngModel)]="user.password" class="form-control" placeholder="Current Password"> 
            </div> 
		       <label>New Password</label>
            <div class="form-group pass_show"> 
                <input type="password" value="" id="newpassword" [(ngModel)]="user.newPassword" class="form-control" placeholder="New Password"> 
            </div> 
		       <label>Confirm Password</label>
            <div class="form-group pass_show"> 
                <input type="password" id="confirmpassword" value="" [(ngModel)]="user.confirmPassword" class="form-control" placeholder="Confirm Password"> 
            </div> 
            <p *ngIf="show" [(ngModel)]="status" name="status"> {{this.status}} </p>
            
                <button (click) ="resetPassword()" class="btn btn-primary">Submit</button>
            
            
		</div>  
	</div>
</div>